.container {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
header {
    background: #cecece;
    min-height: 60px;
    background-color: #23262E;
}

content {
    background-color: ghostwhite;
    display: flex;
    flex: 1; /* 1 代表盡可能最大，會自動填滿除了 header footer 以外的空間 */
    /*justify-content:center;
    align-items:center;*/
}


footer {
    background: #333333;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    color: ghostwhite;
}

.logo{
    width: 170px;
    display: inline-block;
    position: relative;
    top: 15px;
    padding-left: 15px;
    font-size: 18px;
    color:#007DDB;
    letter-spacing: .1em;
    font-weight: 600;
    cursor: pointer;
}

.top-nav{
    height: 60px;
}

