
<div class="left layui-bg-black layui-hide-sm layui-hide-xs layui-show-md-block layui-show-lg-block" th:fragment="left" xmlns:th="http://www.thymeleaf.org">
    <div th:each="m : ${session.menus}">
        <div class="module" th:if="${m.code eq currMenu}" th:text="${m.name}" ></div>
        <ul th:if="${m.code eq currMenu}" class="layui-nav layui-nav-tree  layui-inline" lay-filter="demo" style="margin-right: 10px;">
            <li class="layui-nav-item page" th:each="sm :${m.submenus}">
                <a th:href="${sm.uri}" th:text="${sm.name}"></a>
                <span th:if="${sm.code eq currPage}" class="layui-nav-bar" style="top: 0; height: 45px; opacity: 1;width: 12px;"></span>
            </li>
        </ul>
    </div>


</div>

