/*左边开始*/
.ding{
    height: 140px;
}
.grxx > h3{
    font-size: 14px;
    color: #3d3d3d;
    background: #f5f5f5;
    padding: 0 16px;
    height: 38px;
    line-height: 38px;
    font-weight: bold;
}
.zuobian{
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background: url(../../../static/imgs/uimgs/bg.png)
}
.grxx0{
    margin: 20px 0;
    background-color: #fff;
}
.touzi01{
    padding: 15px 20px;
    border-bottom: 1px solid #f5f5f5;
}
.touzi01 .grxx01 >img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:5px 0;
}
.touzi01 .grxx02{
    margin: 0 5px;
    font-weight: bold;
}
.grxx0 .yc01{
    padding: 16px 10px;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
}
.grxx0 .yc01 .jishu01{
    margin: 5px 5px;
}
.jishu02{
    width: 65px;
    height: 22px;
    font-size: 15px;
}
.jishu03{
    font-weight: bold;
}
.yc02{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
.yc02-01{
    display: flex;
    width: 134px;
    height: 22px;
    font-size: 14px;
    margin: 5px 5px ;
}
.yc02-02{
    display: inline;
}
.lu0{
    right: -6px;
}
.xun00{
    margin-left: 15px;
    padding-bottom: 15px;
}
.guid{
    padding: 10px 15px;
}
.guid .guid01 .guid02{
    line-height: 2.5;
}
.guid .guid01 .guid02 .guidy0{
    color: #c88326;
    justify-content: space-between;
    display: flex;
}

#guid03{
    color: #858585;
    text-align: right;
}
.zuobian .right0 .right-tuisong .caini01 .caini02 > a{
    display: block;
    width: 280px;
    font-size: 14px;
    color: #c88326;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    font-weight: normal!important;
    border-bottom: 1px solid #fff;
    margin-left: 5px;
    line-height: 23px;
    max-height: 44px;
}

.yd01{
    font-size: 12px;
    color: #858585;
    line-height: 5px;
    margin-left: 15px;
}
.right-tuisong{
    padding-bottom: 20px;
    background-color: #fff;
}
.lianxi03{
    margin: 20px 0 10px 0 ;
}
.suoyou01{
    margin-top: 5px;
}
.zhongjian{
    margin-top: 30px;
}
.right-tuisong .right-caini .caini01 .caini02 > a:hover{
    color: #ca0c16;
}
.guid .guid01 .guid02 > a:hover{
    color: #ca0c16;
}
/*左边结束*/
/*右边开始*/
.you{
    background-color: #fff;
}
.wenzhang0{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
}
.paixu{
    display: flex;
    align-items: center;
}
.dingyi{
    margin-left: 0;
    min-height: 36px;
    padding: 15px 0;

}
.px01{
    margin-right: 8px;
    color: #999;
}
.px02 .px04{
    color: #2e2e2e;
    margin-left: 15px;
}
.px02 .px04:hover{
    color: #ca0c16;
}
.px03 > a{
    color: #ca0c16;
}
.px03 > a{
    color: #ca0c16;
}

.tuisong01 > h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 4px;
    color: #3d3d3d;
}
.wxbd01 .tuisong01 .tongsongnr{
    font-size: 14px;
    color: #999;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    line-height: 24px;
     white-space: normal;
}
.boke01{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: inherit;
    margin-bottom: 1px;
}
.tongsongnr{
    margin-top: 10px;
    min-height: 72px;
}
.boke01 .boke04 .boke03 {
    margin-left: 30px;
}
.ding .grming > h2{
    color: #333;
    font-size: 24px;
    padding-top: 20px;
    font-weight: bold;
}
.zuobian .ding .dingyue > a{
    background-color: #fff;
    color: #333;
}
.ding{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dingyue{
    padding: 0 20px;
    margin-top: 25px;
}
.bt00{
    position: absolute;
    width: 200px;
    height:100px;
    margin-left: 850px;
    margin-top: 50px;
}
.piaofu .layui-btn-xs{
    border: none;
}
.gang{
    color: #999;
}
.piaofu > button{
    color: #c88326;
}
.piaofu > button:hover{
    color: #ca0c16;
}
.piaofu{
    position: absolute;
    left: 790px;
    top: 210px;
}
.tuisong01 .piaofu{
    display: none;
}
.wxbd01 .tuisong01 > div:hover+.piaofu, .tuisong01 .piaofu:hover{
    display: block;
}
/*右边结束*/
#demo2{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}