<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.BlogMapper">

    <!--通过用户id查询用户的所有个人博客分类-->
    <select id="findClass" parameterType="int" resultType="com.me.dto.ClassificationDto">

       SELECT e.pt_id classId,d.user_id userId,e.type_name className,COUNT(*) classNum
        from pbt_middle p
        INNER JOIN user_blog d
        on d.blog_id=p.blog_id and d.user_id=#{userId}
        INNER JOIN person_type e
        on p.bt_id=e.pt_id
        GROUP BY p.pid,d.ub_id
    </select>

    <!--通过用户 id查询某年某月更新博客数量-->
    <select id="findBlogNum" parameterType="int" resultType="com.me.dto.BlogNumDto">
        SELECT m.user_id userId,m.year years,m.month months,COUNT(*) blogNum from
        (SELECT u.user_id user_id,YEAR(b.create_time) year,MONTH(b.create_time) month from user_blog u
        INNER JOIN bloginfo b on b.blog_id=u.blog_id and u.user_id=#{userId}) m
        GROUP BY m.user_id,m.year,m.month
    </select>
    <!--通过用户id查询用户的所有博客-->
    <select id="showBlog" parameterType="int" resultType="com.me.dto.BlogDto">

        SELECT any_value(m.blog_id) id,any_value(m.blog_title) title,any_value(m.blog_content) content,any_value(m.create_time) time,any_value(m.user_id) userId,any_value(m.seeNum) seeNum,case when any_value(c.comment_id) is null then 0 else COUNT(*) end commentNum from
        (SELECT any_value(o.blog_id) blog_id,any_value(o.blog_title) blog_title,any_value(o.blog_content) blog_content,any_value(o.create_time) create_time,any_value(b.browse_id) browse_id,any_value(b.browse_time) browse_time,any_value(g.user_id) user_id,case when any_value(b.browse_id) is null then 0 else COUNT(*) end seeNum
        from bloginfo o
        INNER JOIN user_blog g on g.user_id=#{userId} and g.blog_id=o.blog_id
        LEFT JOIN browse b on b.blog_id=o.blog_id and b.user_id=g.user_id
        GROUP BY o.blog_id) m
        LEFT JOIN comment1 c on c.blog_id=m.blog_id and m.user_id=c.user_id
        GROUP BY m.blog_id
    </select>
    <!--通过用户的userId，博客创建时间查询该时间段所有博客-->
    <select id="showBlogByTime" parameterType="com.me.dto.BlogNumDto" resultType="com.me.dto.BlogDto">
        SELECT any_value(m.blog_id) id,any_value(m.blog_title) title,any_value(m.blog_content) content,any_value(m.create_time) time,any_value(m.user_id) userId,any_value(m.seeNum) seeNum,case when any_value(c.comment_id) is null then 0 else COUNT(*) end commentNum from
        (SELECT any_value(o.blog_id) blog_id,any_value(o.blog_title) blog_title,any_value(o.blog_content) blog_content,any_value(o.create_time) create_time,any_value(b.browse_id) browse_id,any_value(b.browse_time) browse_time,any_value(g.user_id) user_id,case when any_value(b.browse_id) is null then 0 else COUNT(*) end seeNum
        from bloginfo o
        INNER JOIN user_blog g on g.user_id=#{userId} and g.blog_id=o.blog_id and  YEAR(o.create_time)=#{years} and month(o.create_time)=#{months}
        LEFT JOIN browse b on b.blog_id=o.blog_id and b.user_id=g.user_id
        GROUP BY o.blog_id) m
        LEFT JOIN comment1 c on c.blog_id=m.blog_id and m.user_id=c.user_id
        GROUP BY m.blog_id
    </select>
    <!--通过用户id与用户个人分类id查询所有新增博客-->
    <select id="showBlogByClassId" parameterType="com.me.dto.ClassificationDto" resultType="com.me.dto.BlogDto">
        SELECT any_value(m.blog_id) id,any_value(m.blog_title) title,any_value(m.blog_content) content,any_value(m.create_time) time,any_value(m.user_id) userId,any_value(m.seeNum) seeNum,case when any_value(c.comment_id) is null then 0 else COUNT(*) end commentNum from
        (SELECT any_value(o.blog_id) blog_id,any_value(o.blog_title) blog_title,any_value(o.blog_content) blog_content,any_value(o.create_time) create_time,any_value(b.browse_id) browse_id,any_value(b.browse_time) browse_time,any_value(g.user_id) user_id,case when any_value(b.browse_id) is null then 0 else COUNT(*) end seeNum
        from bloginfo o
        INNER JOIN user_blog g on g.user_id=#{userId} and g.blog_id=o.blog_id
		INNER JOIN pbt_middle t on t.blog_id=o.blog_id
		INNER JOIN person_type f on f.pt_id=t.bt_id and f.pt_id=#{classId}
        LEFT JOIN browse b on b.blog_id=o.blog_id and b.user_id=g.user_id
        GROUP BY o.blog_id) m
        LEFT JOIN comment1 c on c.blog_id=m.blog_id and m.user_id=c.user_id
        GROUP BY m.blog_id
    </select>
    <!--通过用户id查询最新的5条评论-->
    <select id="findComment" resultType="com.me.dto.CommentDto" parameterType="int">
        select u.user_id userId,u.blog_id blogId,b.blog_title title,o.`name` name,c.comment_content comment from user_blog u
        INNER JOIN bloginfo b on b.blog_id=u.blog_id and u.user_id=#{userId}
        INNER JOIN comment1 c on c.blog_id=b.blog_id
        INNER JOIN userinfo o on o.user_id=c.user_id
        ORDER BY c.comment_time desc
        LIMIT 5
    </select>
    <!--通过博客id以及用户id查询对应的博客文章信息-->
    <select id="showArticle" parameterType="com.me.dto.BlogDto" resultType="com.me.dto.BlogDto">
        SELECT any_value(m.blog_id) id,any_value(m.blog_title) title,any_value(m.blog_content) content,any_value(m.create_time) time,any_value(m.user_id) userId,any_value(m.name) name,any_value(m.user_name) userName,any_value(m.seeNum) seeNum,case when any_value(c.comment_id) is null then 0 else COUNT(*) end commentNum from
        (SELECT any_value(o.blog_id) blog_id,any_value(o.blog_title) blog_title,any_value(o.blog_content) blog_content,any_value(o.create_time) create_time,any_value(b.browse_id) browse_id,any_value(b.browse_time) browse_time,any_value(g.user_id) user_id,any_value(r.name) name,any_value(r.user_name) user_name,case when any_value(b.browse_id) is null then 0 else COUNT(*) end seeNum
        from bloginfo o
        INNER JOIN user_blog g on g.user_id=#{userId} and g.blog_id=o.blog_id and o.blog_id=#{id}
				INNER JOIN userinfo r on r.user_id=g.user_id
        LEFT JOIN browse b on b.blog_id=o.blog_id and b.user_id=g.user_id
        GROUP BY o.blog_id) m
        LEFT JOIN comment1 c on c.blog_id=m.blog_id and m.user_id=c.user_id
        GROUP BY m.blog_id
    </select>
    <!--通过用户id查询最近更新的博客-->
    <select id="showBlogByNewTime" parameterType="int" resultType="com.me.dto.BlogDto">
        SELECT any_value(m.blog_id) id,any_value(m.blog_title) title,any_value(m.blog_content) content,any_value(m.create_time) time,any_value(m.user_id) userId,any_value(m.seeNum) seeNum,case when any_value(c.comment_id) is null then 0 else COUNT(*) end commentNum from
        (SELECT any_value(o.blog_id) blog_id,any_value(o.blog_title) blog_title,any_value(o.blog_content) blog_content,any_value(o.create_time) create_time,any_value(b.browse_id) browse_id,any_value(b.browse_time) browse_time,any_value(g.user_id) user_id,case when any_value(b.browse_id) is null then 0 else COUNT(*) end seeNum
        from bloginfo o
        INNER JOIN user_blog g on g.user_id=1 and g.blog_id=o.blog_id
        LEFT JOIN browse b on b.blog_id=o.blog_id and b.user_id=g.user_id
        GROUP BY o.blog_id) m
        LEFT JOIN comment1 c on c.blog_id=m.blog_id and m.user_id=c.user_id
        GROUP BY m.blog_id
		ORDER BY m.create_time desc
    </select>
    <!--通过用户id查询访问量排名靠前的博客-->
    <select id="showBlogByCommentNum" parameterType="int" resultType="com.me.dto.BlogDto">
        SELECT any_value(m.blog_id) id,any_value(m.blog_title) title,any_value(m.blog_content) content,any_value(m.create_time) time,any_value(m.user_id) userId,any_value(m.seeNum) seeNum,case when any_value(c.comment_id) is null then 0 else COUNT(*) end commentNum from
        (SELECT any_value(o.blog_id) blog_id,any_value(o.blog_title) blog_title,any_value(o.blog_content) blog_content,any_value(o.create_time) create_time,any_value(b.browse_id) browse_id,any_value(b.browse_time) browse_time,any_value(g.user_id) user_id,case when any_value(b.browse_id) is null then 0 else COUNT(*) end seeNum
        from bloginfo o
        INNER JOIN user_blog g on g.user_id=#{userId} and g.blog_id=o.blog_id
        LEFT JOIN browse b on b.blog_id=o.blog_id and b.user_id=g.user_id
        GROUP BY o.blog_id) m
        LEFT JOIN comment1 c on c.blog_id=m.blog_id and m.user_id=c.user_id
        GROUP BY m.blog_id
		ORDER BY any_value(m.seeNum) desc
    </select>
    <!--获取评论对象，用于新增最新评论-->
    <select id="showCommentBox" parameterType="int" resultType="com.me.pojo.UserInfo">
        select * from userinfo u where  u.user_id=#{id}
    </select>
    <!--插入评论-->
    <insert id="addComment" parameterType="com.me.pojo.Comment">
        INSERT into comment1(user_id,blog_id,comment_content) VALUES(#{userId},#{blogId},#{content})
    </insert>
    <!--通过用户id查询用户的各种排名数据-->
    <select id="findUserDto" parameterType="int" resultType="com.me.dto.UserDto">
        SELECT
        (SELECT u.`name` from userinfo u where  u.user_id=#{usrId}) name,
        (SELECT u.url from userinfo u where  u.user_id=#{usrId}) url,
        (SELECT COUNT(*) from user_blog g where g.user_id=#{usrId}) blogNum,
        (SELECT COUNT(*) from informcare i where i.uf_id=#{usrId}) careNum,
        (select COUNT(*) from praise p where p.user_id=#{usrId}) loveNum,
        (SELECT COUNT(*) from comment1 c
        INNER JOIN user_blog b on b.blog_id=c.blog_id and b.user_id) commentNum,
        (SELECT l.`value` `value` from `level` l where l.user_id=#{usrId}) levelValue,
        (SELECT COUNT(*) from browse b
        INNER JOIN user_blog u on u.user_id=#{usrId} and b.blog_id=u.blog_id) seeNum,
        (SELECT @i:=0) levelNum,
        (SELECT @j:=0) rankNum
    </select>


    <!--插入点赞记录-->
    <insert id="getPraise" parameterType="com.me.vo.ShowVo">
        INSERT INTO praise VALUES(DEFAULT,user_id,blog_id,now(),1)
    </insert>

    <!--没统计博客赞的数量-->
    <select id="selectPraise1" parameterType="com.me.vo.ShowVo" resultType="com.me.dto.ShowDto">
        SELECT * from praise where user_id =#{user_id} and blog_id =#{blog_id}
    </select>

    <!--统计博客赞的数量 praise_id -->
    <select id="selectPraise2" parameterType="com.me.vo.ShowVo" resultType="com.me.dto.ShowDto">
        SELECT COUNT(praise_id) praise_number from praise where blog_id = #{blog_id} and `status`=1
    </select>

    <!--根据user_id和blog_id 或 praise_id 修改状态字-->
    <update id="updatePraise" parameterType="com.me.vo.ShowVo">
        update praise set `status`= #{status}
        where
        <if test="user_id != null and user_id !=''">
            user_id = {#user_id}
        </if>
        <if test="blog_id != null and blog_id !=''">
            and blog_id = {#blog_id}
        </if>
        <if test="praise_id != null and praise_id !=''">
            and praise_id = #{praise_id}
        </if>
    </update>

    <!--获取单篇博客浏览数-->
    <select id="getBrowse" parameterType="com.me.vo.ShowVo" resultType="com.me.dto.ShowDto">
          SELECT COUNT(browse_number) browse_number from browse where blog_id = #{blog_id} and `status`=1
    </select>

    <!--插入点赞记录-->
    <insert id="addBrowse" parameterType="com.me.vo.ShowVo">
        INSERT INTO browse VALUES(DEFAULT,user_id,blog_id,now(),1)
    </insert>

    <!--查询相应blog_id和user_id的浏览记录-->
    <select id="selectBrowse" parameterType="com.me.vo.ShowVo" resultType="com.me.dto.ShowDto">
        SELECT * from browse where user_id =#{user_id} and blog_id =#{blog_id}
    </select>

</mapper>