<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.CbiMapper">

    <!--获取C币套餐-->
    <select id="getCbi" resultType="com.me.pojo.Cbi" parameterType="com.me.pojo.Cbi">
        select * from  cbi
        <where>
            <if test="cbi_id != null and cbi_id != ''">
                and cbi_id = #{cbi_id}
            </if>
        </where>
    </select>




    <select id="getCbiById" resultType="com.me.pojo.Cbi" parameterType="String">
        select * from  cbi where cbi_id = #{cbi_id}
    </select>


</mapper>