<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.InquireMapper">


    <!--<resultMap id="showDtoMapper" type="com.me.dto.ShowDto">-->
        <!--<id property="id" column="menuid"></id>-->
        <!--<result property="pid" column="parentid"></result>-->
        <!--<result property="name" column="menuname"></result>-->
        <!--<result property="icon" column="menuicon"></result>-->
        <!--<result property="url" column="menu_uri"></result>-->
        <!--<collection property="children" ofType="com.qf.dto.MenuInfoDto">-->
            <!--<id property="id" column="menuid"></id>-->
            <!--<result property="pid" column="parentid"></result>-->
            <!--<result property="name" column="menuname"></result>-->
            <!--<result property="icon" column="menuicon"></result>-->
            <!--<result property="url" column="menu_uri"></result>-->
        <!--</collection>-->
    <!--</resultMap>-->


    <!--<select id="ShowBlogById" resultType="com.me.dto.ShowDto" parameterType="com.me.vo.ShowVo">-->
        <!--SELECT tb3.blog_id,tb3.blog_title,tb3.blog_content,tb3.create_time,tb3.name,tb3.type_name,tb3.cnumber,tb3.bnumber-->
        <!--from(SELECT * from (SELECT b.*,u.name,bt.type_name from bloginfo b,userinfo u,blog_type bt,user_blog ub-->
        <!--WHERE b.blog_id = ub.blog_id and ub.user_id = u.user_id and b.bt_id = bt.bt_id and b.blog_id = 1 ) tb1-->
        <!--LEFT JOIN (SELECT blog_id bid,COUNT(blog_id) as cnumber from comment1 where blog_id = 1) tb2-->
        <!--on tb1.blog_id = tb2.bid LEFT JOIN (SELECT blog_id bid2,COUNT(blog_id) as bnumber from browse where blog_id = 1) tb4-->
        <!--on tb1.blog_id = tb4.bid2 ) tb3-->
    <!--</select>-->

    <select id="getBlogsByTypeName" resultType="com.me.dto.ShowDto" parameterType="com.me.vo.ShowVo">
          SELECT tb3.blog_id,tb3.blog_title,tb3.blog_content,tb3.create_time,tb3.name,tb3.type_name,tb3.cnumber,tb3.bnumber,tb3.user_id
            from(SELECT * from (SELECT b.*,u.name,bt.type_name,u.user_id from bloginfo b,userinfo u,blog_type bt,user_blog ub
            WHERE b.blog_id = ub.blog_id and ub.user_id = u.user_id and b.bt_id = bt.bt_id
            <if test="type_name !=null and type_name !=''">
                and bt.type_name = #{type_name}
            </if>
            and b.`status`=1 ) tb1
            LEFT JOIN (SELECT c.blog_id bid ,COUNT(c.blog_id) as cnumber from comment1 c,blog_type bt,bloginfo b
            where b.blog_id = c.blog_id
            <if test="type_name !=null and type_name !=''">
                and bt.type_name = #{type_name}
            </if>
            and b.bt_id = bt.bt_id GROUP BY bid) tb2 on tb1.blog_id = tb2.bid
            LEFT JOIN (SELECT br.blog_id bid2,COUNT(DISTINCT br.user_id) as bnumber from browse br,blog_type bt,bloginfo b
            where b.blog_id = br.blog_id
            <if test="type_name !=null and type_name !=''">
                and bt.type_name = #{type_name}
            </if>
            and b.bt_id = bt.bt_id GROUP BY br.blog_id) tb4 on tb1.blog_id = tb4.bid2) tb3
    </select>

    <insert id="addPersonalCategory" parameterType="com.me.vo.ShowVo">
        insert into person_type values(default,#{type_name},1,#{user_id})
    </insert>

    <select id="allPersonalCategory" parameterType="com.me.vo.ShowVo" resultType="com.me.dto.ShowDto">
       SELECT  tb1.pt_id,count(DISTINCT tb1.type_name) wznumber,tb1.type_name,tb1.user_id from (SELECT b.*,u.user_id,u.user_name, pt.status ptstatus, pt.type_name from
        bloginfo b,userinfo u,user_blog ub,person_type pt where u.user_id = #{user_id} and u.user_id =pt.user_id and pt.status = 1 and u.user_id = ub.user_id and
        ub.blog_id = b.blog_id and b.pt_id =pt.pt_id) tb1 GROUP BY tb1.pt_id
    </select>

    <update id="deletePersonalCategory" parameterType="com.me.vo.ShowVo">
        update person_type pt set  pt.status = 1 where  pt.pt_id = #{pt_id}
    </update>

    <update id="updatePersonalCategory" parameterType="com.me.vo.ShowVo">
          update person_type pt set pt.type_name = #{type_name}  where pt.status = 1 and pt.pt_id = #{pt_id}
    </update>

    <select id="searchBlogs" parameterType="com.me.vo.ShowVo" resultType="com.me.dto.ShowDto">
        select * from bloginfo b where b.blog_title like #{blog_title} or b.blog_content like #{blog_content}
    </select>

    <select id="getBlogsByUserId" parameterType="com.me.vo.ShowVo" resultType="com.me.dto.ShowDto">
        SELECT tb3.blog_id,tb3.blog_title,tb3.blog_content,tb3.create_time,tb3.`name`,tb3.type_name,tb3.cnumber,tb3.bnumber
                from
        (SELECT * from (SELECT b.*,u.name,u.user_id,bt.type_name from bloginfo b,userinfo u,blog_type bt,user_blog ub
                WHERE b.blog_id = ub.blog_id and ub.user_id = u.user_id and b.bt_id = bt.bt_id and u.user_id = #{user_id} and b.`status` =1) tb1

                LEFT JOIN (SELECT c.blog_id bid,COUNT(c.blog_id) as cnumber from comment1 c,bloginfo b,userinfo u, user_blog ub where c.blog_id = b.blog_id
        and b.blog_id = ub.blog_id and ub.user_id = u.user_id and u.user_id= #{user_id} GROUP BY c.blog_id) tb2
                on tb1.blog_id = tb2.bid

        LEFT JOIN (SELECT br.blog_id bid2,COUNT(DISTINCT br.user_id) as bnumber from browse br,bloginfo b,userinfo u, user_blog ub where br.blog_id = b.blog_id
        and b.blog_id = ub.blog_id and ub.user_id = u.user_id and u.user_id= #{user_id} GROUP BY br.blog_id) tb4
                on tb1.blog_id = tb4.bid2 ) tb3
    </select>

</mapper>