<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.LevelValueMapper">
    <!--增加经验值-->
    <insert id="addValue" parameterType="com.me.vo.LevelValueVo">
        INSERT INTO `level`(user_id,value) VALUES(#{user_id},#{value})
        ON DUPLICATE KEY UPDATE `value` = `value` + #{value}
    </insert>

</mapper>