<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.MessageMapper">

    <!--查询评论消息的信息-->
    <select id="selectCommentByUserId" parameterType="int" resultType="com.me.dto.InformCommentDto">
        SELECT * FROM (
        SELECT tb2.*,im.informComment_id,im.status FROM
        (SELECT tb1.comment_id,tb1.user_id,tb1.blog_id,tb1.comment_content,tb1.comment_time, u.name FROM
        (SELECT * FROM comment1 WHERE comment_id IN
        (SELECT comment_id FROM informcomment WHERE user_id = #{userId})) tb1 , userinfo u WHERE tb1.user_id = u.user_id) tb2 INNER JOIN informcomment im ON tb2.comment_id = im.comment_id ) a1,
        (SELECT COUNT(*) comments FROM informcomment WHERE user_id = #{userId} AND STATUS = 0 ) a2
    </select>

    <!--根据评论消息 id 删除评论消息-->
    <delete id="deleteInformByInformComment_id" parameterType="int">
        DELETE FROM informcomment WHERE informComment_id = #{informComment_id}
    </delete>

    <!--把未读消息设置为已读-->
    <update id="updateInformToReadingByInformCommentId" parameterType="int">
        UPDATE informcomment SET status = 1 WHERE informComment_id = #{informComment_id}
    </update>

    <!--清除所有评论消息-->
    <delete id="deleteInformByUserIdAndAll" parameterType="int">
        DELETE FROM informcomment WHERE user_id = #{user_id}
    </delete>
</mapper>