<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.UserInfoMapper">


    <!--登录-->
    <select id="login" resultType="com.me.pojo.UserInfo" parameterType="com.me.pojo.UserInfo">
        SELECT * FROM userinfo
        WHERE (user_name = #{user_name} OR email = #{email}) AND password = #{password}
    </select>

    <!--注册-->
    <insert id="regiester" parameterType="com.me.vo.UserInfoVo">
        INSERT INTO userinfo (user_name,password,email) VALUES (#{user_name},#{password},#{email})
    </insert>

    <!--查询最新最大的用户id-->
    <select id="selectMaxId" resultType="int">
        SELECT Max(user_id) FROM userinfo
    </select>

    <!--邮箱验证，修改状态码-->
    <update id="updateStatus" parameterType="int">
        UPDATE userinfo SET status = 1 where user_id = #{userid}
    </update>


    <!--判断新注册账号是否存在-->
    <select id="user_nameIsExist" resultType="com.me.pojo.UserInfo" parameterType="java.lang.String">
        SELECT * FROM userinfo WHERE user_name = #{user_name};
    </select>

    <!--邮箱验证，修改状态码-->
    <select id="cheUsername" parameterType="String" resultType="com.me.pojo.UserInfo">
        select * from userinfo where user_name=#{user_name} and `status`=1;
    </select>

</mapper>