<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.VipMapper">



    <!--获取VIP套餐-->
    <select id="getVip" resultType="com.me.pojo.Vip" parameterType="com.me.pojo.Vip">
        select * from  vip
        <where>
            <if test="vip_id != null and vip_id != ''">
                and vip_id = #{vip_id}
            </if>
        </where>
    </select>

    <!--获取指定的vip套餐-->
    <select id="getVipById" resultType="com.me.pojo.Vip" parameterType="String">
        select * from  vip where vip_id = #{vip_id} and `status`=1
    </select>

    <!--添加用户成为会员-->
    <insert id="setUserVip" parameterType="com.me.dto.UserVipDto">
        insert into user_vip (user_id,vip_id,statr_time,end_time)
        values (#{user_id},#{vip_id},now(),DATE_SUB(now(),INTERVAL #{end_time} day))
        on DUPLICATE key update end_time= IF(`status` = 1 ,DATE_SUB(end_time, INTERVAL #{end_time} DAY),DATE_SUB(now(),INTERVAL #{end_time} DAY))

    </insert>

    <!--查看是否为会员-->
    <select id="isVip" parameterType="com.me.pojo.UserInfo" resultType="com.me.vo.IsVipVo">
        SELECT v.* , s.user_name  from user_vip v,userinfo s where v.user_id=s.user_id
        and v.user_id =#{user_id} and v.`status`=1
    </select>



    <!--根据用户id查是否为会员-->
    <select id="isVipById" parameterType="com.me.pojo.UserInfo" resultType="com.me.vo.IsVipVo">
        SELECT v.* , s.user_name  from user_vip v,userinfo s where v.user_id=s.user_id
        and v.user_id =#{user_id} and v.`status`=1
    </select>

</mapper>